@model ASPDonkeysProject.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h2>Your Cart</h2>

<div>
    <h4>Cart - list of user donkeys needs to be displayed here</h4>
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
    </dl>*@
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @*<a asp-action="Index">Back to List</a>*@
</div>
